$buttonBlue: #3498db;

.btn {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    border: none;
    &--blue {
        background-color: $buttonBlue;
        color: white;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.arrow {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid $buttonBlue;
    cursor: pointer;    
    outline: none;
    &--left {
        transform: rotate(0deg);
    }
    &--right {
        transform: rotate(180deg);
    }
    &--top {
        transform: rotate(90deg);
    }
    &--bottom {
        transform: rotate(270deg);
    }    
}