$buttonBlue: #3498db;

.btn {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    border: none;
    &--blue {
        background-color: $buttonBlue;
        color: white;
    }
    &:disabled {
        opacity: 0.5;
    }
    &--blinking {
        animation: blink 1.5s ease 1.5s infinite; 
    }
}

@keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}